Products.dtd

<!DOCTYPE Products [
<!ENTITY MIU "Made In USA">
<!ELEMENT Products (Prod+)>
        <!ATTLIST Prod ProdID ID #REQUIRED>
<!ELEMENT Prod (Details, Quantity, Unit_Price, Color?, Loc)>

<!ELEMENT Short_Desc (#PCDATA)>
<!ELEMENT Long_Desc (#PCDATA)>
<!ELEMENT Details (Short_Desc, Long_Desc)>

<!ELEMENT Unit_Price  (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>

<!ELEMENT Loc (#PCDATA)>
]>